#main {
  display: flex;
  flex-direction: column;
}
#title {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  margin-top: 70px;
  margin-bottom: 70px;
}
#Panda {
  /*flex-grow: 1;*/
  width: 550px;
  height: 400px;
}
#mid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
#mid-left {
  /*flex-grow: 1;
    width: 50vw;*/
  margin-left: 80px;
  margin-right: 40px;
}
#mid-right {
  margin-left: 40px;
  margin-right: 80px;
}
/*#parag{
    width: 500px;    
    word-wrap: break-word;
}*/
p {
  width: 40vw;
  word-wrap: break-word;
  font-size: 20px;
  margin-bottom: 60px;
}

.heading {
  width: 40vw;
  word-wrap: break-word;
  font-size: 23px;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
}
h2 {
  font-weight: lighter;
}
#form {
  margin-left: 80px;
  margin-bottom: 200px;
}
.sub:hover {
  background-color: black;
  color: white;
}
.sub {
  width: 70px;
  height: 20px;
}
